version: "2.1"
services:
  apm-server:
    image: docker.elastic.co/apm/apm-server:${STACK_VERSION:-8.0.0-SNAPSHOT}
    container_name: apm-server
    ports:
      - "127.0.0.1:8200:8200"
      - "127.0.0.1:6060:6060"
    command: >
      apm-server -e
        -E setup.template.settings.index.number_of_replicas=0
        -E xpack.monitoring.elasticsearch=true
        -E output.elasticsearch.hosts=["${ES_URL}"]
        -E apm-server.expvar.enabled=true
    environment:
      - ES_URL=${ES_URL}
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - DAC_OVERRIDE
      - SETGID
      - SETUID
    logging:
      driver: 'json-file'
      options:
          max-size: '2m'
          max-file: '5'
    healthcheck:
      test: ["CMD", "curl", "--write-out", "'HTTP %{http_code}'", "--silent", "--output", "/dev/null", "http://apm-server:8200/"]
      retries: 10
      interval: 10s

  hey-apm:
    build:
      context: ./
      dockerfile: docker/Dockerfile-bench
    working_dir: /app
    command: >
      /hey-apm -bench -run 5m -apm-url http://apm-server:8200 -es-url ${ES_URL} -es-auth "${ES_USER}:${ES_PASS}" -apm-es-url ${ES_URL} -apm-es-auth "${ES_USER}:${ES_PASS}"
    container_name: hey-apm
    environment:
      - ES_URL=${ES_URL}
      - ES_USER=${ES_USER}
      - ES_PASS=${ES_PASS}
    volumes:
      - ${PWD}:/app
    user: ${USER_ID}
    mem_limit: 200m
    depends_on:
      apm-server:
        condition: service_healthy
      validate-es-url:
        condition: service_started

  validate-es-url:
    image: pstauffer/curl
    command: curl --user "${ES_USER}:${ES_PASS}" "${ES_URL}"
    container_name: validate-es-url
    environment:
      - ES_URL=${ES_URL}
      - ES_USER=${ES_USER}
      - ES_PASS=${ES_PASS}

volumes:
  esdata:
    driver: local
